<div [@routerTransition]>
    <div class="card">
        <div class="card-header">
            {{crudTitle}}
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <form role="form">
                    <div class="row">
                        <div class="col-4">
                            <fieldset class="form-group">
                                <label>Name: </label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="emotion.name"
                                       placeholder="Name">
                            </fieldset>
                        </div>
                        <div class="col-4">
                            <fieldset class="form-group">
                                <label>Verb: </label>
                                <input type="text" class="form-control" name="verb"
                                       [(ngModel)]="emotion.verb" placeholder="Verb">
                            </fieldset>
                        </div>
                        <div class="col-4">
                            <fieldset class="form-group">
                                <label>Example: </label>
                                <input type="text" class="form-control" name="example"
                                       [(ngModel)]="emotion.example" placeholder="Example">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <fieldset class="form-group">
                                <label>Definition: </label>
                                <textarea rows="1" class="form-control" name="definition"
                                          [(ngModel)]="emotion.definition" placeholder="Definition"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-lg btn-success  float-left"
                                    (click)="addEdit()">{{editMode ? 'Edit' : 'Add'}}</button>
                            <button type="button" class="btn btn-lg btn-danger  float-left"
                                    (click)="resetForm()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            {{tableTitle}}
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Verb</th>
                    <th>Example</th>
                    <th>Definition</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of emotionList;let i=index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.verb}}</td>
                    <td>{{item.example}}</td>
                    <td>{{item.definition}}</td>
                    <td>
                        <span class="table-buttons">
                            <i class="fa  fa-edit primary-color pointer" (click)="setEditMode(item,i)"></i>
                            <i class="fa  fa-trash-o danger-color pointer" (click)="selectItemToDelete(item,i);open(deleteModal)"></i>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4 class="text-center">Are you sure to delete this item?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger float-left" (click)="c('Close click');resetModal()">NO</button>
        <button type="button" class="btn btn-success float-left" (click)="c('Close click');delete()">YES</button>
    </div>
</ng-template>
