

td,th{
    text-align: center;
}
td{
    cursor: pointer;
    padding: 14px;
}
.btn{
    margin-top: 0;
}
th{
    background: #333;
    color: #eee;
}
.primary-color{
    color: #007BFF!important;
}
